.section {
	padding: 6rem 0 2rem;
}

.about {
	.container {
		max-width: 968px;
		margin-left: auto;
		margin-right: auto;
	}
	.section__title {
		font-size: var(--h1-font-size);
		color: var(--text-color);
	}

	.section__subtitle {
		display: block;
		font-size: var(--small-font-size);
		margin-bottom: 4rem;
	}

	.section__title,
	.section__subtitle {
		text-align: center;
	}

	.grid {
		display: grid;
		gap: 1.5rem;
	}

	.about__container {
		padding-top: 3rem;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		column-gap: 4rem;

		.button {
			display: inline-block;
			background-color: var(--text-color);
			color: var(--title-color);
			padding: 0.8rem 2rem;
			border-radius: 1rem;
			font-weight: var(--font-medium);
		}
		.button__flex {
			display: inline-flex;
			align-items: center;
		}

		.about__img {
			width: 350px;
			height: 450px;
			border-radius: 1.5rem;
			justify-self: center;
			object-fit: contain;
		}

		.about__info {
			grid-template-columns: repeat(2, 140px);
			gap: 1rem;
			margin-bottom: var(--mb-2);

			.about__box {
				background-color: #fff;
				border: 1px solid rgba(0, 0, 0, 0.1);
				border-radius: 0.75rem;
				text-align: center;
				padding: 1rem 1.25rem;

				.about__icon {
					font-size: 1.5rem;
					color: var(--text-color);
					margin-bottom: var(--mb-0-5);
				}

				.about__title {
					font-size: var(--small-font-size);
					font-weight: var(--font-medium);
				}

				.about__subtitle {
					font-size: var(--tiny-font-size);
				}
			}
		}

		.about__description {
			padding: 0 4rem 0 0;
			margin-bottom: var(--mb-2-5);
			@media screen and (max-width: 768px) {
				padding: 0 1rem;
			}
			@media screen and (max-width: 350px) {
				padding: 0;
			}
		}
	}

	//TODO: (_ Breakpoints For Large Devices _)
	@media screen and (max-width: 992px) {
		.about__container {
			grid-template-columns: 1fr;
			row-gap: 2.5rem;

			//.about__img {
			//	width: 220px;
			//}

			.about__data {
				text-align: center;

				.about__info {
					justify-content: center;
					.about__box {
						padding: 0.75rem 0.5rem;
					}
				}

				.about__description {
					//padding: 0 5rem;
					margin-bottom: 2rem;
				}
			}
		}
	}

	//TODO: (_ Breakpoints For Small Devices _)
	@media screen and (max-width: 768px) {
		body {
			margin: 0 0 var(--header-height);
		}
		.section {
			padding: 2rem 0 4rem;
		}

		.section__subtitle {
			margin-bottom: var(--mb-3);
		}
	}

	@media screen and (max-width: 576px) {
		.about__info {
			grid-template-columns: repeat(2, 1fr);
		}

		.about__description {
			padding: 0;
		}
	}

	@media screen and (max-width: 350px) {
		.about__info {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
